.header {
  display: flex;
  .ham{
    display: none;
  }
  padding: 0px 155px 0px 109px;
  justify-content: space-between;
  figure {
    width: 158px;
    height: 133px;
    margin-top: 51px;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 104px;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      gap: 46px;
      a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-size: 18px;
      }
      li {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.4px; 
      }
      align-items: center;
      list-style-type: none;
    }
    .button {
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      border: none;
      background-color: #D52128;
      line-height: 24px;
      padding: 12px 33px;
      color: white;
      border-radius: 6px;
    }
  }
}
@media only screen and (max-width: 1260px) {
  .header {    
    padding: 0px 35px 0px 30px;
    figure {
      width: 140px;
      height: 120px;
      margin-top: 41px;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 104px;
      a{
        text-decoration: none;
        color: black;
        font-family: Roboto;
        font-size: 18px;
      }
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 46px;
        li {
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 23.4px; 
        }
        align-items: center;
        list-style-type: none;
      }
      .button {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        border: none;
        background-color: #D52128;
        line-height: 24px;
        padding: 12px 33px;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
@media only screen and (max-width: 1060px) {
  .header {    
    padding: 0px 35px 0px 30px;
    figure {
      width: 135px;
      height: 95px;
      margin-top: 41px;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      gap: 84px;
      ul {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 41px;
        li {
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 23.4px; 
        }
        align-items: center;
        list-style-type: none;
      }
      .button {
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        border: none;
        background-color: #D52128;
        line-height: 24px;
        padding: 11px 26px;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
@media only screen and (max-width: 905px) {
  .header {    
    padding: 0px 35px 0px 30px;
 
    .ham{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav {
        display: none;
    }
  }
}
.flayer{
  display: flex;
  // flex-direction: column;
  // padding: 14px ;
  position: fixed;

  top: 0;
  right: 0;
  height: 105vh;
  width: 100%;

  z-index: 9999;
  ul{
    display: flex;
    gap: 16px;
    width: 80%;
    margin-top: 12px;
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    a{
      text-decoration: none;
      color: black;
      font-family: Roboto;
      font-size: 18px;
    }
    li{
      text-align: left;
      font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 23.4px; 
    }
  }
  .close{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
    background-color: black;
    .button{
      font-size: 40px;
      border: none;
      background-color: transparent;
      color: #D52128;
      
    }
  }
}